* {
    box-sizing: border-box;
    /* padding: 10px;
    margin: 10px; */
    
}
#backgroundImg {
    background-image: url("../images/covid-19-image.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img {
    height: 100px;
    width: 200px;
    position: relative;
    background-position: center;
    flex: 1 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.bg-img {
    min-height: 380px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Header*/
header {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    justify-content:space-between;
    width: 98%;
}
/*Navigation Bar*/
nav ul{
    background-color: lightskyblue;
    padding: 2px;
    text-align: right;
    border-style: solid;
}

nav a {
    display: block;
    color:black;
    padding: 2px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bolder;
}
.vaccine-finder {
    align-items: center;
}
iframe {
    align-content: center;
    align-self: center;
    
}

nav a:hover {
    background-color: aquamarine;
    color:grey;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

#resultsLocations {
    list-style-type: none;
    font-weight: bold;
}

.vaccine-finder.hidden {
    visibility: hidden;
    display: none;
    align-items: center;
    align-content: center;
}
.test-locations.hidden {
    display: none;
    visibility: hidden;
}
iframe {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
