* {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    
}

body {
    background-image: url("https://www.paho.org/sites/default/files/card/2021-03/covid-19-virus-aqua-bk.jpg");

}

/*Header*/
header {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    justify-content:space-between;
    height: 150px;
    width: 98%;
}
/*Navigation Bar*/
nav ul{
    background-color: aqua;
    padding: 2px;
    text-align: right;
    border-style: solid;
}

nav a {
    display: block;
    color:black;
    padding: 2px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bolder;
}
.vaccine-finder {
    align-items: center;
}

nav a:hover {
    background-color: white;
    color:grey;
}

nav ul li {
    list-style: none;
    display: inline-block;
}
#results {
    list-style-type: none;
}